/* Colors */
/*https://bowndsranches.com/ Burnt Orange #C45408  and Black  #171411 */

/* Fonts */
/*https://bowndsranches.com/ Font: GT America Cm Bd */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Unbounded', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body{
    font-family: 'Oswald', sans-serif;

}
/* HEADINGS */
h1{
    font-size: 7rem;
    font-family: 'Unbounded', sans-serif;
}
h2{
    font-size: 5rem;
}
h3{
    font-size: 3rem;
 
}
/* NAVBAR */
.navbar{
    background-color: #171411;
}
.navbar-brand{
    color: #C45408;
}
.nav-link{
    color: #C45408;
}

/* TITLE SECTION */
.title-section{
    background-color: #171411;
    color: #C45408;
    display: flex;
    height: 95vh;
    flex-direction: column;
    justify-content: flex-end;
}


/* ABOUT */
.about{
    background-color: white;
    color: #171411;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.carousel-container{
    order: 1;
    margin: auto;
}
.premier{
    order: 0;
    margin: auto 20px;
    text-align: center;
}
.owner{
    order: 2;
    margin: auto 20px;
    text-align: center;

}





/* CONTACT */
.contact{
    background-color: #171411;
    color: white;
    height: 50vh;
}
.contact-text{
    font-size: 2rem;
    text-align: right;
    margin-top: 50px;
    margin-right: 50px;
}


