/* Colors */
/*https://bowndsranches.com/ Burnt Orange #C45408  and Black  #171411 */

/* Fonts */
/*https://bowndsranches.com/ Font: GT America Cm Bd */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Unbounded', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/* HEADINGS */

h1{
    font-size: 7rem;
}
h2{
    font-size: 5rem;
}
h3{
    font-size: 3rem;
}
/* NAVBAR */
.navbar{
    background-color: #171411;
}
.navbar-brand{
    color: #C45408;
}
.nav-link{
    color: #C45408;
}

/* TITLE SECTION */
.title-section{
    background-color: #171411;
    color: #C45408;
    display: flex;
    font-family: 'Unbounded', sans-serif;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
}


/* ABOUT */
.about{
    background-color: white;
    color: #171411;
    font-family: 'Unbounded', sans-serif;
    height: 100vh;
    position: relative;
    text-align: center;
}
.premier{
    margin-top: 100px;
}
.owner{
    margin-top: 200px;
}

/* CONTACT */
.contact{
    background-color: #171411;
    color: white;
    font-family: 'Unbounded', sans-serif;
    height: 50vh;
}
.contact-text{
    text-align: right;
    margin-top: 50px;
    margin-right: 50px;
}


